[Desktop Entry]
Type=Application
Name=Arcade
Icon=/home/lilja/games/Arcade/images/Main.java
Exec=/home/lilja/bashes/arcade.sh
Terminal=false
Categories=Emulator
Keywords=Arcade
