[Desktop Entry]
Type=Application
Name=Arcade
Icon=/home/lilja/Arcade/images/cover.png
Exec=/home/lilja/Arcade/arcade.sh
Terminal=false
Categories=Emulator
Keywords=Arcade
